{% extends 'bitacora/base/base_admin.html' %}

{% block content %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4 container  d-flex justify-content-around">Tabla  {{ titulo }} <a href="{% url 'crear_reg_almacen' %}" class="btn btn-dark">&nbsp;Crear&nbsp;<i class="fa fa-plus" aria-hidden="true"></i> </a>
</h1>                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Listado de  {{ titulo }}
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Lote</th>
                                            <th>Factura</th>
                                            <th>Proveedor</th>
                                            <th>Fecha Llegada</th>
                                            <th>Producto</th>                                             <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Lote</th>
                                            <th>Factura</th>
                                            <th>Proveedor</th>
                                            <th>Fecha Llegada</th>
                                            <th>Producto</th>                                            <th>Acciones</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                     {% for data in dataset %}
                                        <tr>
                                            <td>{{data.id }}</td>
                                            <td>{{data.lote }}</td>
                                            <td>{{data.factura }}</td>
                                            <td>{{data.proveedor }}</td>
                                            <td>{{data.fecha_llegada }}</td>
                                            <td>{{data.producto }}</td>
                                                   <td>
            <a href="visualizar/{{ data.id }}"><i class="fa-solid fa-eye"></i></a>
           <a href="actualizar/{{ data.id }}"><i class="fa-solid fa-pencil"></i></a>
         <a href="eliminar/{{ data.id }}"><i class="fa-solid fa-trash"></i></a>
        </td>
                                        </tr>
                                            {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
               
                    </div>
                </footer>
            </div>
{% endblock %}
